/*-----------------------------------------------------------------

Project     : EcoSpa - Spa Center HTML Template.
Version     :   1.0
Author              : Thesoftking
Front-end developer : Mamunur Rashid
=====================================================================

[Table of contents]

1. Base CSS Start
2. Site Preloader Css Start
3. HOME PAGE CSS START
    3.1 Main Menu Area Start
    3.2 Welcome Area Start
    3.3 Services Area Start
    3.4 Gift & Card Section CSS start
    3.5 Video Section CSS Start
    3.6 COUNTER AREA SRTART
    3.7 Team section css start
    3.8 Appoinment Section Start
    3.9 Pricing plan start
    3.10 Opening Time
    3.11 News section css start 
    3.12 Footer Area Start
    3.13  Click BottomToTop
4. About Page
5. Blog Page CSS Start
6. Blog Details Page Css Start
7. shope Catagori page css start
8. Add To cart css Start 
9. Product Details Start
10. Checkout page Css start
11. Service Page CSS Start
12. Contact Us Css Start 
13. Login And Registion Page Css Start 
14. 404 Page Start
15. Faq CSS Start 


==================================================================*/

/*====================================================================
1. Base CSS Start
======================================================================*/

/* Google Font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand:300,400,500,700");


html,
body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #203566;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}

a,
button {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a {
    color: #2c3e50;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1,
.h1,
.h2,
.h3 {
    margin-bottom: 0px;
}

h1 {
    font-size: 70px;
    line-height: 40px;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-size: 50px;
    line-height: 40px;
    font-family: 'Quicksand', sans-serif;
}


h3 {
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #777777;
    margin-bottom: 0px;
}

.margin-0 {
    margin: 0
}

.form-control {
    border: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
    border-radius: 2px;
}

.form-control:focus {
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
    border-color: #bb6dac;
}

.modal {
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.49);
}

.slick-initialized .slick-slide:focus {
    outline: 0px;
}

.affix {
    width: 100%;
}

#map {
    width: 100%;
    height: 500px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    padding: 0px;
}

/* Ckeck Box Design CSs */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #ddd;
}


.checkboxContainer input:checked~.checkmark {
    background-color: #bb6dac;
    border-color: #bb6dac;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxContainer input:checked~.checkmark:after {
    display: block;
}

.checkboxContainer .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkboxContainer .labelText {
    font-size: 16px;
    color: #232b37;
    font-weight: 600;
}

.sectionTheading {
    text-align: center;
}
.sectionTheading h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    color: #30b1bf;
}

.sectionTheading P {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 78px;
}

/*=================================================
2. Site Preloader Css Start
===================================================*/
.site-preloader {
    background-color: #bb6dac;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.site-preloader .spinner {
    width: 60px;
    height: 60px;
    margin: 21% auto;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/* ============================================
3. HOME PAGE CSS START
=============================================== */

/* ================================================
3.1 Main Menu Area Start
===================================================*/

.support-bar-area {
    display: none;
}

header.header {
    position: relative;
    z-index: 2;
    background: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.3)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler:focus {
    outline: 0px;
}

.header.header.stiky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    border-bottom: 0px;
}

.header.header .nav-link {
    color: #4d516e;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    padding: 50px 0px 50px;
    margin-right: 28px;
    display: block;
}

.header.header .nav-link.active,
.header.header .nav-link:hover {
    color: #bb6dac;
}

.header.header .nav-link.active::before {
    position: absolute;
    content: " ";
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: #bb6dac;
}




.header.header .nav-item.dropdown .dropdown-item {
    color: rgb(119, 119, 119);
    font-size: 14px;
    margin-right: 10px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    padding: 7px 15px 7px;
}

.header.header .nav-item.dropdown .dropdown-item.active,
.header.header .nav-item.dropdown .dropdown-item:hover {
    background: #bb6dac;
    color: #fff;
}



.navbar-nav .dropdown-menu {
    border-radius: 0px;
    margin-top: -1px;
}

.header.header .nav-link.active::before {
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.header.header .nav-link:hover::before {
    width: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.header.header .nav-item:last-child .nav-link {
    margin-right: 0px;
    padding-right: 0px;
}

.navbar-light .navbar-toggler {
    border: 0px;
}

.header .call_btn a {
    border-radius: 50px;
    background-color: #bb6dac;
    width: 50px;
    height: 50px;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    margin-left: 35px;

}

.header .call_btn a i {
    font-size: 12px;
    /*margin-right: 5px; */
}

.header .call_btn a:hover {
    background-color: #30b1bf;
    color:white;
}


.header .nalog a {
    border-radius: 50px;
    background-color: #30b1bf;
    width: 50px;
    height: 50px;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    margin-left: 5px;

}

.header .nalog a i {
    font-size: 12px;
    /*margin-right: 5px; */
}

.header .nalog a:hover {
    background-color: #bb6dac;
}

.header .logout a {
    border-radius: 50px;
    background-color: black;
    width: 50px;
    height: 50px;
    color: whitesmoke;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    margin-left: 5px;
}

.header .logout a i {
    font-size: 14px;
    margin-left:2px;
    /*margin-right: 5px; */
}

.header .logout a:hover {
    background-color: whitesmoke;
    color:black;
}

/* =============================================
3.2 Welcome Area Start
================================================ */

.banner {
    padding: 260px 0px 300px;
    background-size: contain !important;
    position: relative;
    display:flex;
    align-items:center;
    justify-content: center;
}
.bannerOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.banner h1 {
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    margin-bottom: 38px;
}

.banner .content {
    text-align: center;
}

.banner .tagline {
    font-size: 20px;
    line-height: 40px;
    color: #f1f1f1;
    display: block;
    margin: 29px 0px 9px 0px;
}


.banner .links a {
    width: 180px;
    border-radius: 50px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #30b1bf;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    margin-right: 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

.banner .links .link1:hover {
    background-color: #bb6dac;
}

.banner .links .link2 {
    background-color: #bb6dac;
}

.banner .links .link2:hover {
    background-color: #30b1bf;
}

/* =============================================
Welcome Area End
================================================ */


/* ==============================================
3.3 Services Area Start
================================================= */

.services {
    padding: 130px 0px 117px;
}

.services h3 {
    font-size: 30px;
    line-height: 40px;
    color: #bb6dac;
    font-weight: 700;
    margin-top: 30px;
}

.services .sBox {
    text-align: center;
}

.services .sBox .img {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    background-color: #30b1bf;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;

}

.services .sBox .img::before {
    position: absolute;
    content: " ";
    top: -10px;
    left: -10px;
    border-radius: 50%;
    background-color: #30b1bf;
    opacity: 0.302;
    position: absolute;
    width: 200px;
    height: 200px;

}

.services .sBox .img img {
    width: 80px;
    height: 80px;
}


.services .sBox.box2 .img {
    background-color: #bb6dac;

}

.services .sBox.box2 .img::before {
    background-color: #bb6dac;
    opacity: 0.302;
}

/* ==============================================
Services Area Start
================================================= */


/* ===============================================
3.4 Gift & Card Section CSS start
================================================== */

.giftCard {
    background-color: rgb(248, 248, 248);
    padding: 60px 0px 60px;
}

.giftCard .mycard {
    background-color: rgb(255, 255, 255);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.giftCard .mycard:hover {
    box-shadow: 0px 8px 16px 0px rgba(196, 196, 196, 0.5);
}


.giftCard .mycard .cardContent {
    padding: 36px 30px 40px;
    text-align: center;
}

.giftCard .mycard .cardContent h3 {
    font-size: 20px;
    color: #bb6dac;
    font-weight: 700;
    margin-bottom: 12px;
}

.giftCard .mycard .cardContent p {
    color: #999999;
    font-size: 14px;
    line-height: 26px;
}

.giftCard .mycard .cardContent a {
    width: 150px;
    height: 50px;
    background-color: #30b1bf;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 25px;
    font-weight: 700;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.giftCard .mycard:hover .cardContent a {
    background: #bb6dac;
}

/* ===============================================
Gift & Card Section CSS End
================================================== */




/* ===============================================
3.5 Video Section CSS Start
================================================= */

.video {
    padding: 60px 0px 60px;
}

.video h2 {
    font-size: 34px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #30b1bf;
}

.videoContent {
    margin-top: 30px;
    display: flex;
}

.videoContent .icon {
    align-self: center;
}

.videoContent .icon i {
    border-style: solid;
    border-width: 2px;
    border-color: #bb6dac;
    border-radius: 50%;
    width: 74px;
    height: 74px;
    text-align: center;
    line-height: 70px;
    color: #bb6dac;
    margin-right: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.videoContent .icon i:hover{
    background: #30b1bf;
    border-color: #30b1bf;   
    color: #fff;
}




.videoContent .text h5 {
    text-transform: uppercase;
    font-weight: 600;
    color: #bb6dac;
    font-size: 20px;
}


.videoContent .text p {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}


/* ===============================================
Video Section CSS Start
================================================= */




/* =================================================
3.6 COUNTER AREA SRTART
==================================================== */

.counter {
    padding: 100px 0px 94px;
    background: #bb6dac;
}

.counter span {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.counter sup {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.counter h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.counter i {
    font-size: 80px;
    color: #fff;
    display: block;
}

.counter .c-box {
    text-align: center;
}

/* =================================================
COUNTER AREA END
==================================================== */

/* ===============================================
3.7 Team section css start
================================================= */
.team {
    padding: 60px 0px 60px;
}

.team .t-box {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
}

.team .sectionTheading {
    margin-bottom: 66px;
}

.team .t-box .right {
    -ms-flex-item-align: center;
    align-self: center;
}

.team .t-box .img {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 30px;
    width: 250px;
    height: 250px;
}

.team .t-box .img::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: #bb6dac;
    top: -20px;
    left: -20px;
    border-radius: 20px;
}

.team .t-box .img img {
    position: inherit;
    z-index: 9;
    border-radius: 20px;
}

.team .t-box .right h4 {
    color: #30b1bf;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 6px;
    font-family: 'Quicksand', sans-serif;
}

.team .t-box .right h6 {
    color: #bb6dac;
    text-transform: uppercase;
    margin-bottom: 18px;
    font-size: 14px;
}

.team .t-box .right p {
    font-size: 14px;
    color: rgb(153, 153, 153);
    line-height: 26px;
}

.team .t-box .right .tm-social-link li {
    display: inline-block;
}

.team .t-box .right .tm-social-link {
    margin-top: 25px;
}

.team .t-box .right .tm-social-link li a i {
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 37px;
    margin-right: 6px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team .t-box .right .tm-social-link li:last-child a i {
    margin-right: 0px;
}

.team .t-box .right .tm-social-link li a i.fa-facebook-f {
    border-color: rgb(0, 90, 255);
    color: rgb(0, 90, 255);
}

.team .t-box .right .tm-social-link li a i.fa-twitter {
    border-color: rgb(2, 231, 207);
    color: rgb(2, 231, 207);
}

.team .t-box .right .tm-social-link li a i.fa-dribbble {
    border-color: rgb(255, 0, 102);
    color: rgb(255, 0, 102);
}

.team .t-box .right .tm-social-link li a i.fa-instagram {
    border-color: #bb6dac;
    color: #bb6dac;
}


.team .t-box .right .tm-social-link li a:hover i.fa-facebook-f {
    background: rgb(0, 90, 255);
    color: #fff;
}

.team .t-box .right .tm-social-link li a:hover i.fa-twitter {
    background: rgb(2, 231, 207);
    color: #fff;
}

.team .t-box .right .tm-social-link li a:hover i.fa-dribbble {
    background: rgb(255, 0, 102);
    color: #fff;
}

.team .t-box .right .tm-social-link li a:hover i.fa-instagram {
    background: #bb6dac;
    color: #fff;
}

/* ===============================================
 Team section css End
================================================= */



/* ================================================
3.8 Appoinment Section Start
=================================================== */

.appoinmentSection {
    padding: 60px 0px 60px;
    background: #30b1bf
}


.appoinmentBox {
    display: block;
}

.appoinmentBox .left {
    float: left;
}

.appoinmentBox .right {
    float: right;
    display: block;
    height: 100%;
}

.appoinmentBox .left h2 {
    font-size: 50px;
    color: #fff;
}

.appoinmentBox .left span {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
}



.appoinmentBox .right a {
    background-color: #bb6dac;
    width: 210px;
    height: 50px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    margin-top: 24px;
    border: 2px solid #bb6dac;
    text-transform: uppercase;
    font-weight: 600;
}

.appoinmentBox .right a:hover {
    background: #30b1bf;
}


/* ===========================================
3.9 Pricing plan start
============================================= */
.pricePlan {
    padding: 117px 0px 120px;
}

.pricePlan .sectionTheading {
    margin-bottom: 66px;
}

.pricePlan .p_box {
    border-style: solid;
    border-width: 10px;
    border-color: #30b1bf;
    background-color: rgba(0, 0, 0, 0);
    padding: 52px 30px 60px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.pricePlan .p_box h3 {
    color: #30b1bf;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.pricePlan .p_box .title p {
    font-weight: 400;
    font-size: 16px;
    color: #30b1bf;
    text-transform: uppercase;
    margin: 7px 0px 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


.pricePlan .p_box .doller span {
    font-size: 40px;
    color: #30b1bf;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
    margin-top: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.pricePlan .p_box .doller span small {
    color: #777777;
    font-size: 16px;
    font-weight: 700;
}

.pricePlan .p_box .list li {
    margin-bottom: 23px;
    color: #30b1bf;
}

.pricePlan .p_box .phurchaseBtn {
    border-radius: 50px;
    background-color: #30b1bf;
    width: 200px;
    height: 50px;
    display: inline-block;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 50px;
    margin-top: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}





.pricePlan .p_box:hover {
    border-color: #bb6dac;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.pricePlan .p_box:hover h3,
.pricePlan .p_box:hover .doller span {
    color: #bb6dac;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.pricePlan .p_box:hover .phurchaseBtn {
    background-color: #bb6dac;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.pricePlan .p_box .title {
    position: relative;
}

.pricePlan .p_box .title i {
    position: absolute;
    font-size: 50px;
}

.pricePlan .p_box .title i {
    position: absolute;
    font-size: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #bb6dac;
}


/* ===========================================
Pricing plan End
============================================= */



/* ============================================
3.10 Opening Time
============================================== */
.openingTime {
    background: #f8f8f8;
    padding: 60px 0px 60px;
}

.openingLeft {
    position: relative;
}

.openingLeft .right {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 370px;
    height: 380px;
    background-image: url(../img/shape2.png);
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    background-color: #30b1bf;
    padding: 69px 50px 50px;
    text-align: center;
}

.openingLeft .right h2 {
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    line-height: 60px;
}


.openingChart {
    border-style: solid;
    border-width: 10px;
    border-color: #bb6dac;
}


.openingChart .title {
    background: #bb6dac;
    text-align: center;
}

.openingChart .title h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 25px 0px 43px;
    color: #fff;
}

.openingChart .content {
    padding: 44px 40px 50px;
}

.openingChart .content p {
    font-size: 14px;
    color: #777;
    line-height: 26px;
}

.openingChart .content .time li {
    font-size: 20px;
    color: #30b1bf;
    line-height: 26px;
}

.openingChart .content .time {
    margin-top: 29px;
}

.openingChart .content .link {
    background-color: #30b1bf;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-top: 38px;
    text-transform: uppercase;

}


.openingChart .content .link:hover {
    background-color: #bb6dac;
}

/*====================================
3.11 News section css start 
 =====================================*/

.news {
    padding: 60px 0px 60px;
}

.blog-box .text {
    text-align: center;
    padding: 12px 15px 1px;
}


.blog-box h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #30b1bf;
    margin-top: 21px;
}


/* News section css end */


/* ===========================================
3.12 Footer Area Start
============================================== */
.footer {
    padding: 60px 0px 0px;
    background-color: rgb(34, 34, 34);
}


.footer .widget1 p {
    font-size: 14px;
    color: #f1f1f1;
    margin-top: 34px;
}

.footer .socialLinks {
    margin-top: 24px;
}

.socialLinks ul li {
    display: inline-block;
}


.socialLinks ul li a i {
    display: block;
    margin: 0 2px;
    width: 40px;
    height: 40px;
    background: #fafafa;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.socialLinks ul li a .fa-facebook-f {
    color: #4267b2;
}

.socialLinks ul li a .fa-twitter {
    color: #1da1f2;
}

.socialLinks ul li a .fa-google-plus-g {
    color: #dd5044;
}

.socialLinks ul li a .fa-linkedin-in {
    color: #0177b5;
}


.socialLinks ul li a:hover i {
    color: #fff;
}

.socialLinks ul li a:hover .fa-facebook-f {
    background: #4267b2;
}

.socialLinks ul li a:hover .fa-twitter {
    background: #1da1f2;
}

.socialLinks ul li a:hover .fa-google-plus-g {
    background: #dd5044;
}

.socialLinks ul li a:hover .fa-linkedin-in {
    background: #0177b5;
}


.footer h5 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.footer .widget2 .media img {
    margin-right: 20px;
}

.footer .widget2 .media p {
    font-size: 16px;
    color: #f1f1f1;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.footer .widget2 .media span {
    font-size: 12px;
    color:#c8c8c8;
    text-transform: uppercase;
    margin-top: 15px;
    display: block;
}

.footer .widget2 .media {
    margin-bottom: 20px;
}

.footer .widget3 ul li a,
.footer .widget4 ul li a {
    font-size: 14px;
    color: #f1f1f1;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
}

.footer .widget3 ul li a:hover,
.footer .widget4 ul li a:hover,
.footer .widget2 a:hover p {
    color: #bb6dac;
}

.footer .widget3 h5 {
    margin-bottom: 30px;
}

.footer .widget4 h5 {
    margin-bottom: 30px;
}

.copyRightArea {
    margin-top: 101px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 25px 0px 28px;
}

.copyRightArea p {
    color: #f1f1f1;
}


/* ===========================================
Footer Area End
============================================== */


/*==================================================
3.13  Click BottomToTop
====================================================*/
.totop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    opacity: 1;
    display: none;
}

.totop.show {
    display: block;
}

.totop:hover {
    animation: none;
}

.totop.show {
    opacity: 1;
}

.totop>a {
    color: #fff;
    display: block;
    border-radius: 750%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
    background-color: #bb6dac;
}

.totop>a p {
    line-height: 50px;
    font-size: 20px;
    color: #fff;
}

.totop>a:hover {
    background-color: #bb6dac;
}

/* ==============================================
HOME PAGE CSS END
================================================= */


/* =====================================
4. About Page
======================================== */

.spabreadcrumb {
    padding: 90px 0px 80px;
    background: url(../img/breadCrumb.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.spabreadcrumb.extrapadding{
    padding-bottom: 100px;
}


.spabreadcrumb .bcoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.spabreadcrumb h2 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 13px;
    font-size: 40px;
}

.spabreadcrumb .links li {
    display: inline-block;
}

.spabreadcrumb .links li a {
    color: #fff;
}

.spabreadcrumb .links li a:hover,
.spabreadcrumb .links li a.active {
    color: #bb6dac;
}


.spabreadcrumb .links li span {
    display: inline-block;
    padding: 0px 6px;
    color: #fff;
}

header.header.boxshadownone {
    box-shadow: 0px 0px 0px 0px rgba(215, 215, 215, 0);
}

header.header.boxshadownone.stiky {
    border-bottom: 2px solid #f6f6f6;
}


/* =================================
5. Blog Page CSS Start
===================================== */


.mainBlog {
    padding: 120px 0px 120px;
}

.blog-box {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blog-box:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.11);
}

.blog-box h3 {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin: 9px 0px 9px;
}

.blog-box h3:hover a {
    color: #bb6dac;
}

.blog-box h5 {
    font-size: 14px;
    color: #bb6dac;
}

.blog-box p {
    font-size: 16px;
    color: rgb(153, 153, 153);
}

.blog-box .read-more-link {
    margin-top: 11px;
    display: inline-block;
    color: rgb(153, 153, 153);
}

.blog-box .read-more-link:hover {
    color: #2c3e50;
}

.blog-box .read-more-link i {
    display: inline-block;
    margin-left: 10px;
    line-height: 24px;
    font-size: 14px;
}

.blog-box .blog-item-description {
    padding: 28px 20px 23px;
}

.blog-box .topImg {
    overflow: hidden;
}

.blog-box .topImg img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.blog-box:hover .topImg img {
    transform: scale(1.3);
}

.pagination .page-item .page-link {
    font-size: 15px;
    color: #bb6dac;
    margin: 0px 2px;
    display: inline-block;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0px;
    text-align: center;
    padding: 0px;
}

.pagination .page-item .page-link:hover,
.pagination .page-item .page-link.active {
    background-color: #bb6dac;
    color: #fff;
    border-color: #bb6dac;
}

ul.pagination {
    margin-top: 21px;
}

.pagination .page-item .page-link:focus {
    outline: 0px;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0);
}

/* ======================================================
6. Blog Details Page Css Start
========================================================== */

.blogDetails {
    padding: 120px 0px 120px;
}

.blogDetails .details-img {
    overflow: hidden;
}

.blogDetails .details-img img {
    width: 100%;
    -webkit-transition: 0.4s all linear;
    -o-transition: 0.4s all linear;
    transition: 0.4s all linear;
}

.blogDetails .details-text {
    padding: 25px 20px 20px 20px;
    border: 2px solid #e3e3e3;
    border-top: none;
}

.blogDetails .details-sulf h3 {
    text-transform: capitalize;
    margin-bottom: 15px;
}

.blogDetails .details-sulf p {
    padding: 10px 0;
    color: #696565;
}

.blogDetails .det-text i {
    display: inline-block;
    float: left;
    color: #bb6dac;
    font-size: 25px;
    margin-right: 22px;
    margin-top: 12px;
}

.blogDetails .det-text p {
    overflow: hidden;
}

.blogDetails .details-sulf ul {
    border-top: 2px solid #e3e3e3;
    padding-top: 20px;
    margin-top: 14px;
}

.blogDetails .details-sulf ul li {
    display: inline;
    padding: 0 10px;
}

.blogDetails .details-sulf ul li a {
    color: #777;
    text-decoration: none;
    transition: .3s ease-in;
}

.blogDetails .details-sulf ul li a:hover {
    color: #bb6dac;
}

.blogDetails .details-sulf ul li img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.blogDetails .comment-text {
    padding-top: 45px;
}
.blogDetails .comment-text hr{
    padding: 0px;
    margin: 0px 0px 0px;
}
.blogDetails .comment-text h3 {
    padding-bottom: 10px;

}

.blogDetails .commtent-item {
    padding: 30px 0;
}

.blogDetails .ma-l {
    margin-left: 100px;
}

.blogDetails .commtent-item img {
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.blogDetails .commtent-text {
    overflow: hidden;
}

.blogDetails .commtent-text h6 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}

.blogDetails .commtent-text h6 a:hover span {
    color: #bb6dac;
}

.blogDetails .commtent-text h6 span {
    float: right;
    font-size: 15px;
    color: #696565;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blogDetails .commtent-text span {
    font-size: 15px;
    font-weight: 500;
    color: #777;
}

.blogDetails .commtent-text p {
    padding-top: 15px;
    font-size: 15px;
    color: #696565;
}

.blogDetails .contacts-frome {
    padding-top: 26px;
}

.blogDetails .contacts-frome h3 {
    padding-bottom: 40px;
}

.blogDetails .profile img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.blogDetails .form-inlines {
    margin: 0px 0px 44px;
}

.blogDetails .form-inlines input {
    width: 98%;
    height: 60px;
    padding: 0 14px;
    background: #f2f2f2;
    border: 0;
    font-size: 16px;
    color: rgb(36, 36, 36);
    font-family: "Open Sans";
}

.blogDetails .form-inlines input:focus {
    outline: 0px;
}

.blogDetails .form-inlines button {
    background: none;
    border: none;
    width: 0;
    height: 0;
    padding: 0;
    margin-left: -37px;
    margin-top: -25px;
    color: #b3b3b3;
}

.blogDetails a:hover {
    text-decoration: none;
}

.blogDetails .categories h3 {
    padding-bottom: 16px;
}

.blogDetails .categories ul li a {
    color: #656262;
    font-size: 16px;
    padding: 8px 5px;
    display: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blogDetails .categories ul li a:hover {
    color: #bb6dac;
}

.blogDetails .categories ul li a i {
    font-size: 14px;
}

.blogDetails .relative-item {
    overflow: hidden;
    margin: 15px 0;
}

.blogDetails .relative h3 {
    padding-top: 33px;
    padding-bottom: 10px;
}

.blogDetails .relative-item img {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.blogDetails .relative-item span {
    padding-top: 7px;
    display: inherit;
    color: #bb6dac;
    font-size: 14px;
}

.blogDetails .relative-item p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-top: 12px;
}

.blogDetails .teg h3 {
    padding-top: 29px;
    padding-bottom: 24px;
}

.blogDetails .teg a {
    background: #f2f2f2;
    padding: 10px 20px;
    display: inline-block;
    margin: 5px 3px;
    text-transform: uppercase;
    color: #656262;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blogDetails .teg a:hover {
    color: #fff;
    background-color: #bb6dac;
}

.categories h3,
.relative h3,
.blogDetails .teg h3,
.blogDetails .comment-text h3,
.blogDetails .commentForm h3,
.blogDetails .details-sulf h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;

}

.commentForm .myform {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.commentForm .myform:focus,
.commentForm textarea:focus {
    outline: 0px;
}

.blogDetails .commentForm h3 {
    margin-bottom: 40px;
    margin-top: 45px
}

.commentForm textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 20px;
}

.blogDetails .commentForm .submitcomment {
    width: 230px;
    height: 60px;
    border-radius: 4px;
    background-color: #bb6dac;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border: 0px;
    margin-top: 15px;
    cursor: pointer;
}

.blogDetails .commentForm .submitcomment:hover {
    background-color: #30b1bf;
}

.commentForm .myform:focus,
.commentForm textarea:focus {
    border: 1px solid #30b1bf;
}


/* ======================================================
6. Blog Details Page Css End
========================================================== */



/* ===============================================
7. shope Catagori page css start
=================================================== */

.category-block-area {
    padding: 120px 0 50px 0;
}

.category-content-area ul.pagination {
    margin-top: 19px;
}

.category-block-area .single-cateogy-block-item {
    text-align: center;
    border: 2px solid #e5e5e5;
    padding: 60px 0px 60px 0px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.category-block-area .single-cateogy-block-item:hover {
    background-color: #bb6dac;
    border-color: #bb6dac;
    color: #fff;
}

.category-block-area .single-cateogy-block-item:hover .title {
    color: #fff;
}

.category-block-area .single-cateogy-block-item:hover .icon {
    color: #fff;
    -ms-transform: rotateY(360deg);
    /* IE 9 */
    -webkit-transform: rotateY(360deg);
    /* Chrome, Safari, Opera */
    transform: rotateY(360deg);
}

.category-block-area .single-cateogy-block-item .icon {
    font-size: 100px;
    line-height: 50px;
    margin-bottom: 47px;
    color: #bb6dac;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.category-block-area .single-cateogy-block-item .icon.puzzle {
    font-size: 140px;
}

.category-block-area .single-cateogy-block-item .icon.laptop {
    font-size: 120px;
}

.category-block-area .single-cateogy-block-item .icon.bathtub {
    font-size: 110px;
}

.category-block-area .single-cateogy-block-item .icon.first-aid {
    font-size: 115px;
}

.category-block-area .single-cateogy-block-item .icon.watermelon {
    font-size: 180px;
}

.category-block-area .single-cateogy-block-item .title {
    font-size: 16px;
    color: #7a8591;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.category-content-area {
    padding-bottom: 90px;
}

.category-content-area.search-page {
    padding: 120px 0 120px 0;
}

.category-content-area .category-sidebar {
    margin-bottom: 30px;
}

.category-content-area .category-sidebar .category-filter-widget {
    border: 2px solid #f1f1f1;
    border-radius: 4px;
    padding: 38px 30px 35px 30px;
}

.category-content-area .category-sidebar .category-filter-widget .title {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.category-content-area .category-sidebar .category-filter-widget .title .right {
    float: right;
}

.category-content-area .category-sidebar .category-filter-widget .cat-list li {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #bbc4d1;
    margin: 13px 0;
}

.category-content-area .category-sidebar .category-filter-widget .cat-list li:last-child {
    margin-bottom: 0;
}

.category-content-area .category-sidebar .category-filter-widget .cat-list li a {
    color: #b1b6bd;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.category-content-area .category-sidebar .category-filter-widget .cat-list li a i{
    font-size: 14px;
}
.category-content-area .category-sidebar .category-filter-widget .cat-list li a:hover {
    color: #bb6dac;
}

.category-content-area .category-sidebar .category-filter-widget .cat-list li .right {
    float: right;
}


.category-content-area .right-content-area .top-content {
    position: relative;
    z-index: 0;
}

.category-content-area .right-content-area .top-content:after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #f0f0f0;
    content: '';
    -ms-transform: translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateY(-50%);
    /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    z-index: -1;
}

.category-content-area .right-content-area .top-content .left-conent {
    display: inline-block;
}

.category-content-area .right-content-area .top-content .left-conent .cat {
    width: 160px;
    height: 50px;
    border: 2px solid #f0f0f0;
    color: #b1b6bd;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    background-color: #fff;
}

.category-content-area .right-content-area .top-content .right-content {
    display: inline-block;
    float: right;
}

.category-content-area .right-content-area .top-content .right-content ul li {
    display: inline-block;
    margin: 0 8px;
}

.category-content-area .right-content-area .top-content .right-content ul li:last-child {
    margin-right: 0;
}

.category-content-area .right-content-area .top-content .right-content ul li .form-element {
    display: inline-block;
    width: 160px;
}

.category-content-area .right-content-area .top-content .right-content ul li .form-element .select2-container--default .select2-selection--single {
    height: 50px;
    border-radius: 30px;
    border: 2px solid #f0f0f0;
}

.category-content-area .right-content-area .top-content .right-content ul li .form-element .select2-container--default .select2-selection--single:focus {
    outline: none;
}

.category-content-area .right-content-area .top-content .right-content ul li .form-element .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #b1b6bd;
    font-size: 14px;
    font-weight: 700;
}

.category-content-area .right-content-area .top-content .right-content ul li .form-element .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.category-content-area .right-content-area .top-content .right-content ul li.icon {
    background-color: #ebebeb;
    color: #afb6bf;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.category-content-area .right-content-area .top-content .right-content ul li.icon.active,
.category-content-area .right-content-area .top-content .right-content ul li.icon:hover {
    background-color: #bb6dac;
    color: #fff;
}

.category-content-area h4 {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

.single-new-collection-item {
    border: 2px solid #f1f1f1;
    margin-bottom: 30px;
    border-radius: 4px;
}

.single-new-collection-item .content {
    border-top: 2px solid #f1f1f1;
    padding: 23px 15px 24px;
    text-align: center;
}

.single-new-collection-item .thumb {
    position: relative;
    border-radius: 4px;
}

.single-new-collection-item .thumb img {
    border-radius: 4px 4px 0px 0px;
}

.single-new-collection-item .thumb .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    border-radius: 4px 4px 0px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.single-new-collection-item:hover .thumb .hover {
    opacity: 1;
}

.single-new-collection-item .thumb .hover a {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 140px;
    height: 50px;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    background-color: #bb6dac;
    box-shadow: 0px 8px 16px 0px rgba(238, 0, 95, 0.5);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.single-new-collection-item .thumb .hover a:hover {
    background-color: #30b1bf;
    box-shadow: 0px 8px 16px 0px rgba(23, 60, 90, 0.5);
}

.single-new-collection-item:hover .thumb .hover a {
    top: 50%;
}

.single-new-collection-item .content .price del {
    font-size: 14px;
}

.single-new-collection-item .content .price span.sprice {
    font-size: 16px;
    font-weight: 700;
}

.category-content-area .topElement select {
    height: 50px;
    padding: 0px 30px;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
    padding: 0px 20px;
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

.category-content-area .topElement select option {
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

.category-content-area .topElement select:focus {
    outline: 0px;
}

.topElement {
    margin-bottom: 30px;
}

.category-content-area .topElement .right p {
    color: rgb(153, 153, 153);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

.productsearchform {
    margin-bottom: 80px;
}

.productsearchform form {
    position: relative;
}

.productsearchform form input {
    width: 100%;
    position: absolute;
    top: 0;
    height: 50px;
    color: rgb(153, 153, 153);
    font-size: 14px;
    padding: 0px 50px 0px 15px;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
}

.productsearchform form input::placeholder {
    color: rgb(153, 153, 153);
    font-size: 14px;
}

.productsearchform form input::-webkit-placeholder {
    color: rgb(153, 153, 153);
    font-size: 14px;
}

.productsearchform form button {
    position: absolute;
    z-index: 1;
    color: red;
    right: 0px;
    height: 50px;
    background: none;
    border: none;
    color: rgb(153, 153, 153);
    padding-right: 15px;
    font-size: 12px;
    cursor: pointer;
}

.productsearchform form input:focus,
.productsearchform form button:focus {
    outline: 0px;
}

/* ===============================================
7. shope Catagori page css End
=================================================== */



/* ================================================
8. Add To cart css Start 
====================================================*/

.cart-content-area {
    padding: 115px 0 100px 0;
}

.cart-content-area .table {
    width: 1110px;
}

.cart-content-area .cart-content-inner .top-content table thead th {
    font-weight: 600;
    border-bottom: 1px solid #efefef;
    border-top: none;
    padding-top: 0;
}

.cart-content-area .cart-content-inner .top-content table thead th:first-child {
    padding-left: 0;
}

.cart-content-area .cart-content-inner .top-content table tbody tr {
    border-bottom: 1px solid #efefef;
}

.cart-content-area .cart-content-inner .top-content table tbody tr td {
    padding: 40px 0 30px 0;
}

.cart-content-area .cart-content-inner .top-content table tbody tr td .product-details {
    position: relative;
    min-height: 160px;
}

.cart-content-area .cart-content-inner .top-content table tbody tr td .product-details .close-btn {
    color: #ff3d3d;
    position: absolute;
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    /* IE 9 */
    -webkit-transform: translateY(-50%);
    /* Chrome, Safari, Opera */
    transform: translateY(-50%);
    cursor: pointer;
}

.cart-content-area .cart-content-inner .top-content table tbody tr td .product-details .thumb {
    position: absolute;
    left: 40px;
}

.cart-content-area .cart-content-inner .top-content table tbody tr td .product-details .content {
    padding-left: 230px;
}

.cart-content-area .cart-content-inner .top-content table tbody tr td .product-details .content .title {
    font-size: 18px;
    color: #30b1bf;
    font-weight: 400;
    padding-top: 70px;
}

.cart-content-area .cart-content-inner .top-content table tbody tr td .price {
    font-size: 18px;
    color: #bb6dac;
    padding-top: 70px;
}

.cart-content-area .cart-content-inner .top-content table tbody tr td .qty ul {
    margin-top: 60px;
}

.cart-content-area .cart-content-inner .top-content table tbody tr td .qty ul li {
    display: inline-block;
}

.cart-content-area .cart-content-inner .top-content table tbody tr td .qty ul li .qttotal,
.cart-content-area .cart-content-inner .top-content table tbody tr td .qty ul li .qtminus,
.cart-content-area .cart-content-inner .top-content table tbody tr td .qty ul li .qtplus {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #e5e5e5;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-weight: 500;
}

.cart-content-area .cart-content-inner .top-content table tbody tr td .qty ul li .qttotal:focus,
.cart-content-area .cart-content-inner .top-content table tbody tr td .qty ul li .qtminus:focus,
.cart-content-area .cart-content-inner .top-content table tbody tr td .qty ul li .qtplus:focus {
    outline: none;
}

.cart-content-area .cart-content-inner .bottom-content {
    margin-top: 40px;
}

.cart-content-area .cart-content-inner .bottom-content .left-content-area {
    display: inline-block;
    width: 450px;
}

.cart-content-area .cart-content-inner .bottom-content .left-content-area .coupon-code-wrapper {
    position: relative;
}

.cart-content-area .cart-content-inner .bottom-content .left-content-area .coupon-code-wrapper .form-element .input-field {
    border: 2px solid #efefef;
}

.cart-content-area .cart-content-inner .bottom-content .left-content-area .coupon-code-wrapper .form-element .input-field::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #8e96a1;
}

.cart-content-area .cart-content-inner .bottom-content .left-content-area .coupon-code-wrapper .form-element .input-field:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #8e96a1;
}

.cart-content-area .cart-content-inner .bottom-content .left-content-area .coupon-code-wrapper .form-element .input-field::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #8e96a1;
}

.cart-content-area .cart-content-inner .bottom-content .left-content-area .coupon-code-wrapper .form-element .input-field:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #8e96a1;
}

.cart-content-area .cart-content-inner .bottom-content .left-content-area .coupon-code-wrapper .submit-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 190px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 14px;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area {
    display: inline-block;
    float: right;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area .btn-wrapper .boxed-btn {
    padding: 0 30px;
    cursor: pointer;
    width: auto;
    margin: 0 10px;
    background-color: #bb6dac;
    border: 2px solid transparent;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area .btn-wrapper .boxed-btn:first-child {
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
    color: #9a9da7;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area .btn-wrapper .boxed-btn:first-child:hover {
    background-color: #bb6dac;
    border-color: #bb6dac;
    color: #fff;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area .btn-wrapper .boxed-btn:hover {
    background-color: transparent;
    border-color: #e5e5e5;
    color: #9a9da7;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area .btn-wrapper .boxed-btn:last-child {
    margin-right: 0;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area .cart-total {
    float: right;
    margin-top: 40px;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area .cart-total .title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 7px;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area .cart-total .cart-list li {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    border-bottom: 1px solid #e5e5e5;
    padding: 14px 0;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area .cart-total .cart-list li:first-child {
    padding-top: 8px;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area .cart-total .cart-list li:last-child {
    border-bottom: none;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area .cart-total .cart-list li .right {
    font-weight: 400;
    float: right;
    margin-left: 30px;
    color: #838b97;
}

.cart-content-area .cart-content-inner .bottom-content .right-content-area .cart-total .cart-list li.total .right {
    color: #bb6dac;
}

.submit-btn {
    width: 250px;
    height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    background-color: #bb6dac;
    border: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #30b1bf;
}

.submit-btn.btn-rounded {
    border-radius: 30px;
}

.submit-btn.btn-center {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

.submit-btn:focus {
    outline: none;
}

.input-field {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    border-radius: 4px;
    color: #7c7c90;
}

.input-field:focus {
    outline: 0px;
}

.checkout-page-content-area .left-content-area .form-element .input-field:focus {
    border: 1px solid #30b1bf;
}

.input-field::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #7c7c90;
}

.input-field:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #7c7c90;
}

.input-field::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #7c7c90;
}

.input-field:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #7c7c90;
}

.input-field.borderd {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.input-field.borderd:focus {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.input-field.textarea {
    min-height: 120px;
    padding: 20px 30px;
    resize: none;
}

.input-field.error {
    border: 1px solid #dc3545;
}

.input-field.error::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #dc3545;
}

.input-field.error:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #dc3545;
}

.input-field.error::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #dc3545;
}

.input-field.error:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #dc3545;
}

.input-field.error:focus {
    border-color: #dc3545;
}

.boxed-btn {
    display: inline-block;
    text-align: center;
    height: 60px;
    line-height: 57px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 160px;
    background-color: #bb6dac;
    padding: 0 20px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.boxed-btn:hover {
    color: #fff;
    background-color: #bb6dac;
}

.boxed-btn.btn-rounded {
    border-radius: 30px;
}

.boxed-btn.blank {
    background-color: transparent;
    border: 2px solid #30b1bf;
    color: #30b1bf;
}

.boxed-btn.blank:hover {
    background-color: #bb6dac;
    color: #fff;
}

/* ================================================
8.  Add To cart css End 
====================================================*/


/* =================================================
9. Product Details Start
===================================================== */
.product-details-content-area {
    padding: 120px 0 115px 0;
}

.product-details-content-area .left-content-area .product-details-slider {
    margin-bottom: 30px;
    border: 2px solid #f1f1f1;
}

.product-details-content-area .slick-slide img {
    margin: 0 auto;
    width: 100%;
}

.product-details-content-area .left-content-area .product-deails-thumb li {
    display: inline-block;
    margin: 0 0px;
    cursor: pointer;    
    border: 1px solid #f1f1f1;
}

.product-details-content-area .owl-thumb-item.slick-slide.slick-current.slick-active {
    border: 1px solid #bb6dac;
}

.product-details-content-area .left-content-area .product-deails-thumb li:first-child {
    margin-left: 0px;
}

.product-details-content-area .left-content-area .product-deails-thumb li:last-child {
    margin-right: 0px;
}

.product-details-content-area .right-content-area .top-content .review {
    display: inline-block;
}

.product-details-content-area .right-content-area .top-content .review li {
    display: inline-block;
    font-size: 14px;
    color: #ffb400;
}

.product-details-content-area .right-content-area .top-content .review li.reviewes {
    color: #808a98;
    margin-left: 10px;
}

.product-details-content-area .right-content-area .top-content .orders {
    display: inline-block;
    background-color: #bb6dac;
    color: #fff;
    padding: 8px 20px;
    border-radius: 6px;
    margin-left: 20px;
    position: relative;
}

.product-details-content-area .right-content-area .top-content .orders:after {
    position: absolute;
    left: -5px;
    top: 10px;
    width: 15px;
    height: 15px;
    background-color: #bb6dac;
    content: '';
    -ms-transform: rotate(50deg);
    /* IE 9 */
    -webkit-transform: rotate(50deg);
    /* Chrome, Safari, Opera */
    transform: rotate(50deg);
    border-radius: 6px;
}

.product-details-content-area .right-content-area .bottom-content {
    margin-top: 27px;
}

.product-details-content-area .right-content-area .bottom-content .cat {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    color: #bb6dac;
    font-weight: 600;
    letter-spacing: 2px;
}

.product-details-content-area .right-content-area .bottom-content .title {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

.product-details-content-area .right-content-area .bottom-content .price-area {
    margin-top: 17px;
}

.product-details-content-area .right-content-area .bottom-content .price-area .left {
    display: inline-block;
    font-size: 50px;
    color: #bfc7d3;
    font-weight: 300;
}

.product-details-content-area .right-content-area .bottom-content .price-area .left .sprice {
    color: #bb6dac;
}

.product-details-content-area .right-content-area .bottom-content .price-area .right {
    display: inline-block;
    margin-top: 15px;
    float: right;
}

.product-details-content-area .right-content-area .bottom-content .price-area .right .size {
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #efefef;
    color: #abaeb4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;

    letter-spacing: 2px;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.product-details-content-area .right-content-area .bottom-content .price-area .right .size:hover {
    background-color: #bb6dac;
    color: #fff;
}

.product-details-content-area .right-content-area .bottom-content .product-spec {
    margin-top: 20px;
    width: 280px;
    margin-bottom: 28px;
}

.product-details-content-area .right-content-area .bottom-content .product-spec li {
    color: #30b1bf;
    font-weight: 600;

    margin: 10px 0;
}

.product-details-content-area .right-content-area .bottom-content .product-spec li .right {
    font-weight: 400;
    float: right;
    color: #6b7686;
}

.product-details-content-area .right-content-area .bottom-content .product-spec li .right.base-color {
    color: #bb6dac;
}

.product-details-content-area .right-content-area .bottom-content .pdescription .title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 17px;
    font-family: 'Quicksand', sans-serif;
}

.product-details-content-area .right-content-area .bottom-content .pdescription p {
    font-size: 16px;
    line-height: 26px;
    color: #838b97;

}

.product-details-content-area .right-content-area .bottom-content .paction {
    margin-top: 35px;
}

.product-details-content-area .right-content-area .bottom-content .paction .qty {
    display: inline-block;
}

.product-details-content-area .right-content-area .bottom-content .paction .qty ul li {
    display: inline-block;
    margin-left: -5px;
}

.product-details-content-area .right-content-area .bottom-content .paction .qty ul li:first-child {
    margin-left: 0;
}

.product-details-content-area .right-content-area .bottom-content .paction .qty ul li .qttotal,
.product-details-content-area .right-content-area .bottom-content .paction .qty ul li .qtminus,
.product-details-content-area .right-content-area .bottom-content .paction .qty ul li .qtplus {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #e5e5e5;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-weight: 500;
}

.product-details-content-area .right-content-area .bottom-content .paction .qty ul li .qttotal:focus,
.product-details-content-area .right-content-area .bottom-content .paction .qty ul li .qtminus:focus,
.product-details-content-area .right-content-area .bottom-content .paction .qty ul li .qtplus:focus {
    outline: none;
}

.product-details-content-area .right-content-area .bottom-content .paction .qty ul li .qtplus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.product-details-content-area .right-content-area .bottom-content .paction .qty ul li .qtminus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.product-details-content-area .right-content-area .bottom-content .paction .activities {
    display: inline-block;
}

.product-details-content-area .right-content-area .bottom-content .paction .activities li {
    display: inline-block;
    margin: 0 8px;
}

.product-details-content-area .right-content-area .bottom-content .paction .activities li:first-child {
    margin-left: 16px;
}

.product-details-content-area .right-content-area .bottom-content .paction .activities li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #eeeeee;
    border: 2px solid #eeeeee;
    color: #838b97;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-weight: 500;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.product-details-content-area .right-content-area .bottom-content .paction .activities li a:focus {
    outline: none;
}

.product-details-content-area .right-content-area .bottom-content .paction .activities li a:hover {
    background-color: #bb6dac;
    color: #fff;
    border-color: #bb6dac;
}

.product-details-content-area .right-content-area .bottom-content .paction .btn-wrapper {
    margin-top: 30px;
}

.product-details-content-area .right-content-area .bottom-content .paction .btn-wrapper .boxed-btn {
    width: 174px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    border-radius: 50px;
    height: 50px;
    line-height: 50px;
}

.product-details-content-area .right-content-area .bottom-content .paction .btn-wrapper .boxed-btn:hover {
    background-color: #30b1bf;
}

.product-details-tab-nav {
    padding-top: 80px;
}

.product-details-tab-nav .nav.nav-tabs {
    border: none;
    text-align: center;
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
}

.product-details-tab-nav .nav.nav-tabs:after {
    position: absolute;
    left: 0;
    top: 25px;
    background-color: #f0f0f0;
    content: '';
    width: 100%;
    height: 2px;
    z-index: -1;
}

.product-details-tab-nav .nav.nav-tabs .nav-item {
    display: inline-block;
    margin: 0 10px;
}

.product-details-tab-nav .nav.nav-tabs .nav-item .nav-link {
    border: none;
    width: 200px;
    border: 2px solid #f0f0f0;
    background-color: #fff;
    border-radius: 25px;
    height: 50px;
    line-height: 45px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #b1b6bd;
    padding: 0;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.product-details-tab-nav .nav.nav-tabs .nav-item .nav-link.active {
    background-color: #bb6dac;
    color: #fff;
    border-color: #bb6dac;
}

.product-details-tab-nav .nav.nav-tabs .nav-item .nav-link:hover {
    background-color: #bb6dac;
    color: #fff;
    border-color: #bb6dac;
}

.product-details-area .title {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

.product-details-area .item_review_content {
    padding-top: 33px;
}

.product-details-area .item_review_content .product-specification {
    margin-top: 32px;
}

.product-details-area .item_review_content .product-specification li {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.product-details-area .item_review_content .product-specification li:first-child {
    margin-top: none;
}

.product-details-area .item_review_content .product-specification li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.product-details-area .item_review_content .product-specification li .single-spec .heading {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    min-width: 220px;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
}

.product-details-area .item_review_content .product-specification li .single-spec .details {
    color: #838b97;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
}

.product-details-area .descr-tab-content {
    padding-top: 33px;
}

.product-details-area .descr-tab-content .title {
    margin-bottom: 20px;
}

.product-details-area .descr-tab-content p {
    font-size: 16px;
    line-height: 26px;
    color: #838b97;
}

.product-details-area .descr-tab-content p:last-child {
    margin-bottom: 0;
}

.product-details-area .more-feature-content {
    padding-top: 33px;
}

.product-details-area .more-feature-content p {
    color: #838b97;
    line-height: 26px;
    font-size: 16px;
}

.product-details-area .more-feature-content p:last-child {
    margin-bottom: 0;
}

.product-details-area .more-feature-content .feature-list-wrapper {
    margin-bottom: 22px;
}

.product-details-area .more-feature-content .feature-list-wrapper .features-list li {
    margin: 8px 0;
    font-size: 16px;
    line-height: 26px;
    color: #838b97;
}

.product-details-area .more-feature-content .feature-list-wrapper .features-list li i {
    color: #bb6dac;
}



/* =================================================
9. Product Details End
===================================================== */


/*==========================================
10. Checkout page Css start
============================================*/

.checkout-page-content-area {
    padding: 120px 0 89px 0;
}

.checkout-page-content-area .account .checkbox-wrapper {
    display: flex;
}

.checkout-page-content-area .account .checkbox-wrapper a {
    margin-left: 10px;
    color: #656262;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.checkout-page-content-area .account .checkbox-wrapper a:hover {
    color: #bb6dac;
}

.checkout-page-content-area .notification-area {
    color: #fff;
    font-size: 14px;

    background-color: #bb6dac;
    margin-bottom: 20px;
    padding: 30px 40px;
    border-radius: 4px;
}

.checkout-page-content-area .notification-area:last-child {
    margin-bottom: 38px;
}

.checkout-page-content-area .notification-area a {
    font-weight: 700;
    color: #fff;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.checkout-page-content-area .left-content-area .title {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 17px;
    font-family: 'Quicksand', sans-serif;
}

.checkout-page-content-area .left-content-area .form-element {
    margin-bottom: 25px;
}

.checkout-page-content-area .left-content-area .form-element.has-icon .the-icon {
    top: 70px;
}

.checkout-page-content-area .left-content-area .form-element label {
    color: #838b97;
    font-weight: 400;
}

.checkout-page-content-area .left-content-area .form-element label.blank {
    padding-top: 17px;
}

.checkout-page-content-area .left-content-area .form-element .input-field {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.checkout-page-content-area .left-content-area .form-element .input-field::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #b1b7c0;
}

.checkout-page-content-area .left-content-area .form-element .input-field:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #b1b7c0;
}

.checkout-page-content-area .left-content-area .form-element .input-field::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #b1b7c0;
}

.checkout-page-content-area .left-content-area .form-element .input-field:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #b1b7c0;
}


.checkout-page-content-area .left-content-area .checkbox-element .checkbox-inner {
    color: #232b37;
    font-weight: 600;
}

.checkout-page-content-area .left-content-area .checkbox-element .checkbox-inner .checkmark {
    border-color: #e5e5e5;
}

.checkout-page-content-area .left-content-area .shipping-details {
    margin-top: 15px;
}

.checkout-page-content-area .left-content-area .shipping-details .title {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 27px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    margin-top: 19px;
}

.checkout-page-content-area .left-content-area .shipping-details .checkbox-element {
    margin-bottom: 15px;
}

.checkout-page-content-area .left-content-area .shipping-details .form-element.textarea label {
    color: #232b37;
    font-weight: 500;
    margin-top: 8px;

}

.checkout-page-content-area .right-content-area .title {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 22px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

.checkout-page-content-area .checkbox-element .checkbox-wrapper .checkbox,
.checkout-page-content-area .checkbox-element .checkbox-wrapper .checkbox-inner {
    cursor: pointer;
}

.checkout-page-content-area .right-content-area .checkbox-element .checkbox-inner {
    color: #232b37;
    font-weight: 600;
}

.checkout-page-content-area .right-content-area .checkbox-element .checkbox-inner .checkmark {
    border-color: #e5e5e5;
}

.checkout-page-content-area .right-content-area .btn-wrapper {
    margin-top: 15px;
}

.checkout-page-content-area .right-content-area .btn-wrapper .submit-btn {
    width: 200px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 4px;

}

.checkout-page-content-area .right-content-area .checkbox-element.account .checkbox-wrapper .checkbox-inner .base-color {
    font-weight: 500;

    color: #bb6dac;
}

.checkout-page-content-area .right-content-area .credit-card-area {
    margin-bottom: 18px;
}

.checkout-page-content-area .right-content-area .credit-card-area .left-content {
    display: inline-block;
    padding-top: 7px;
}

.checkout-page-content-area .right-content-area .credit-card-area .right-content {
    display: inline-block;
    float: right;
}

.checkout-page-content-area .right-content-area .credit-card-area .right-content ul li {
    display: inline-block;
    margin: 0 2px;
}

.checkout-page-content-area .right-content-area .credit-card-area .right-content ul li:last-child {
    margin-right: 0;
}

.checkout-page-content-area .right-content-area .notify-area {
    font-size: 16px;
    font-weight: 600;
    background-color: #bb6dac;
    padding: 22px 40px;
    border-radius: 4px;
    color: #fff;
    margin-top: 19px;
    margin-bottom: 30px;
}

.checkout-page-content-area .right-content-area .order-list {
    margin-bottom: 30px;
}

.checkout-page-content-area .right-content-area .order-list li {

    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
}

.checkout-page-content-area .right-content-area .order-list li:first-child {
    padding-top: 0;
}

.checkout-page-content-area .right-content-area .order-list li.shipping .single-order-list .normal-text {
    display: block;
    color: #838b97;
    font-weight: 400;
    margin-top: 13px;
}

.checkout-page-content-area .right-content-area .order-list li .single-order-list {
    color: #838b97;
}

.checkout-page-content-area .right-content-area .order-list li .single-order-list.title-bold {
    font-weight: 600;
    color: #232b37;
}

.checkout-page-content-area .right-content-area .order-list li .single-order-list.title-bold .right {
    font-weight: 400;
}

.checkout-page-content-area .right-content-area .order-list li .single-order-list .right {
    float: right;
    color: #838b97;
}

.checkout-page-content-area .right-content-area .order-list li .single-order-list.heading {
    color: #232b37;
    font-weight: 600;
}

.checkout-page-content-area .right-content-area .order-list li .single-order-list.heading .right {
    float: right;
}


/*==========================================
10. Checkout page Css End
============================================*/



/* ========================================
11. Service Page CSS Start
=========================================== */
.serviceSection {
    background-color: rgb(248, 248, 248);
    padding: 60px 0px 60px;
}

.service-box {
    border: 2px solid #e2e2e2;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
}

.service-box img {
    width: 100%;
}

.service-box h3 {
    font-size: 24px;
    color: #bb6dac;
    font-weight: 700;
    margin-bottom: 13px;
    margin-top: 25px;
}

.service-box p {
    margin-bottom: 18px;
}



/* ========================================
12. Contact Us Css Start 
==========================================*/

.contact-wrap {
    padding: 108px 0px 120px;
}

.address h3 {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 24px;
}

.address h4 {
    font-size: 18px;
    font-weight: 600;
}

.contact-form h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.address .a-text {
    margin-bottom: 35px;
}

.address .media {
    margin-bottom: 30px;
}

.address .media i {
    font-size: 35px;
    color: #bb6dac;
    margin-right: 3px;
}

.contact-form .mr_btn_fill {
    border-radius: 50px;
    background-color: #bb6dac;
    width: 170px;
    height: 50px;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    border: 0px;
    cursor: pointer;
}
.contact-form .mr_btn_fill:focus{
    outline: 0px;
}
.contact-form .mr_btn_fill:hover {
    background: #30b1bf;
}

.contact-wrap .contact-form .input-field {
    height: 50px;
    display: block;
}

.contact-wrap .contact-form form {
    margin-top: 28px;
}

.contact-wrap .contact-form textarea{
padding-left: 30px;
padding-top: 10px;
}



/* ========================================
12. Contact Us Css End 
==========================================*/


/* ================================================
13. Login And Registion Page Css Start 
=================================================== */

.logRegForm .loginnow,
.logRegForm .lostpass,
.logRegForm .loginwith,
.logRegForm .loginwithfb,
.logRegForm .loginwithgoogle {
    width: 100%;
    height: 60px;
    line-height: 55px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: block;

}

.logRegForm .loginnow:focus,
.logRegForm .lostpass:focus,
.logRegForm .loginwith:focus,
.logRegForm .loginwithfb:focus,
.logRegForm .loginwithgoogle:focus {
    outline: 0px;
}


.logRegForm .loginwith {
    color: #cecece;
    background: none;
    margin: 3px 0px 3px;
    display: inline-block;
}

.logRegForm .loginnow {
    background: #bb6dac;
    border: 2px solid #bb6dac;
}

.logRegForm .loginnow:hover {
    background: #1491fe00;
    color: #bb6dac;
    border-color: #bb6dac;
}


.logRegForm .lostpass {
    background: #30b1bf;
    border: 2px solid #30b1bf;
}

.logRegForm .lostpass:hover{
    background: #9e8b8000;
    border: 2px siolid #30b1bf;
    color: #30b1bf
}



.logRegForm .loginwithfb {
    background: #44428e;
    border: 2px solid #44428e;
}

.logRegForm .loginwithfb:hover {
    background: #45428e00;
    color: #44428e;
}







.logRegForm .loginwithgoogle {
    background: #ff344c;
    border: 2px solid #ff344c;
}

.logRegForm .loginwithgoogle:hover{
    background: #45428e00;
    color: #ff344c;
}





.logRegForm .contact_form_wrappre2 {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    padding: 60px 50px 60px;
}

.logRegForm {
    padding: 120px 0px 120px;
}

.logRegForm .input-group-text {
    padding: 0px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: #495057;
    text-align: center;
    background-color: #bb6dac;
    border: 0px solid #ced4da;
    border-radius: 0px;
    width: 60px;
    height: 60px;
}

.logRegForm .input-group-text i {
    color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 14px;
}

.logRegForm .input-group {
    margin-bottom: 30px;
}

.logRegForm .input-group input {
    padding-left: 30px;
    border: 2px solid rgba(0, 0, 0, 0.10);
}

.logRegForm textarea {
    width: 100%;
    height: 240px;
    resize: none;
    padding-left: 30px;
    padding-top: 25px;
    padding-right: 60px;
    border: 2px solid rgba(0, 0, 0, 0.10);
}

.logRegForm .input-group .form-control {
    height: 60px;
    border-radius: 0px;
}

/* ================================================
13. Login And Registion Page Css End 
=================================================== */



/*==================================================
14. 404 Page Start
====================================================*/

.not-found-wrap {
    padding: 82px 0 120px;
}

.error-content .title {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;
}
.error-content p{
    margin-bottom: 0;
}
.error-content .error-title {
    font-size: 250px;
    font-weight: 700;
    line-height: 235px;
    color: #bb6dac;
    margin-top: 0;
    margin-bottom: 19px;
    margin-top: 3px;
}
.error-content a {
    background-color: #30b1bf;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-top: 48px;

}
.error-content a:hover {
    background-color: #bb6dac
}

/*==================================================
14. 404 Page End
====================================================*/


/* =================================================
15. Faq CSS Start 
====================================================*/




.faqSection {
    padding: 120px 0 100px 0;
}

.faq-accordian .panel-group .panel.panel-default{
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
}
.faq-accordian .panel-group .panel .panel-heading{
    border: none;
    padding: 0;
}
.faq-accordian .panel-group .panel .panel-heading .panel-title a {
    background-color: rgb(248, 248, 248);
    padding: 20px 30px;
    display: block;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding-left: 55px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
     cursor: pointer;
}
.faq-accordian .panel-group .panel .panel-heading .panel-title a:after{
    position: absolute;
    left: 30px;
    top: 30px;
    font-family:'Font Awesome 5 Free';
    content: "\f107";
    transform: translateY(-50%);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.faq-accordian .panel-group .panel .panel-heading .panel-title a[aria-expanded="true"]:after{
    content: "\f105";
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
     cursor: pointer;
}
.faq-accordian .panel-group .panel .panel-heading .panel-title a[aria-expanded="true"]{
    border-bottom: 0;
    color: #bb6dac;
    /* padding-bottom: 0; */
    cursor: pointer;
    box-shadow: 0px 5px 15px -18px #000;
}
.faq-accordian .panel-group .panel .panel-body{
    /* border: 2px solid rgba(0, 0, 0, 0.07); */
    background-color: rgb(248, 248, 248);
    border-top: 0;
    padding: 23px 15px 25px;
    font-size: 16px;
    color: #777;
    line-height: 26px;
}
.spabreadcrumb.faqPadding h2 {
    margin-bottom: 21px;
}



/* =================================================
15. Faq CSS Start 
====================================================*/






